@model ftpg.AoR.Web.Models.GameModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
             Hei 
        </div>
    </body>
</html>