<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="dbconfstr" value="Data Source=TROND-PC\SQLEXPRESS;Initial Catalog=AoR;Integrated Security=False;User ID=aorapp;Password=aorpwd1;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  </appSettings>
  
  <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <identity impersonate="true" />
    </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
